* {
    font-family: PT Sans, sans-serif;
}
.text {
    text-align: center;
    color: #6e525e;
    font-size: 50px; 
    font-weight: bold;
}
.doc {
    text-align: center
}
.title {
    text-align: center;
    color:#EDA8C5;
    font-size: 20px;
    font-weight: bold;
}
.titleUp {
    margin-top: 20px;
    text-align: center;
    color:#EDA8C5;
    font-size: 20px;
    font-weight: bold;
}
.regular {
    text-align: center;
    color: white;
    font-size: 16px;
}
.regularLeft{
    color: white;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:15px;
}
.alph {
    color: white;
    margin-left: 30px;

}

.missionList li{
    color: white;
    font-size: 16px;
    margin-left: 30px;
    list-style-type: square;
}
.missionList li:before {
    color: white;

    padding-right:.1em; 
    position:relative; 
    top:.1em;
}
.membTypes li {
    color: white;
    list-style-type: upper-alpha;
    font-size: 16px;
    margin-left: 30px;
}
.membTypes li:before {
    color: white;
    padding-right:1em; 
    position:relative; 
    top:.1em;
}
.body {
    margin: 0px 30px;
}