* {
    font-family: PT Sans, sans-serif;
}
.title{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    
}
.subtitle{
    color: #EDA8C5;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
}
.grid{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
.missionBox {
    background-color: #694956;
    border-radius: 15px;
    width: 1050px;
    height: 320px;
    margin-bottom: 15px;
    justify-content: center;
}
.ourMission {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.first li {
    color: #EDA8C5;
    font-size: 28px;
    list-style:none;
}
.first li:before {
    color: white;
    content:"\25AA";
  padding-right:.25em; 
  position:relative; 
    top:.1em;
}

.paragraph {
    text-align: left;
    color: #EDA8C5;
    font-weight: bold;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.constitutionBox {
    height: 55px;
    width: 250px;
    border-radius: 15px;
    background-color: #EDA8C5;
    color: white;
    margin: auto;
    
}
.text {
    text-align: center;
    color: white;
    font-size: 35px;
}
@media only screen and (max-width: 1000px) {
    .missionBox {
        background-color: #694956;
        border-radius: 15px;
        width: 500px;
        height: 600px;
        margin-bottom: 10px;
        justify-content: center;
    }
}


.groupPhotoContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
}
.groupPhoto {
    height: 500px;
    justify-content: center;
    padding-bottom: 20px;
}
@media only screen and (max-width: 765px) {
    .groupPhotoContainer {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
    }
    .groupPhoto {
        height: 400px;
        justify-content: center;
        padding-bottom: 20px;
    }
}


@media only screen and (max-width: 515px) {
    .missionBox {
        background-color: #694956;
        border-radius: 15px;
        width: 300px;
        height: 390px;
        margin-bottom: 10px;
        justify-content: center;
    }
    .groupPhotoContainer {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
    }
    .groupPhoto {
        height: 215px;
        justify-content: center;
        padding-bottom: 20px;
    }
    .paragraph {
        text-align: left;
        color: #EDA8C5;
        font-weight: bold;
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 380px) {
    .missionBox {
        background-color: #694956;
        border-radius: 15px;
        width: 270px;
        height: 455px;
        margin-bottom: 10px;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .missionBox {
        background-color: #694956;
        border-radius: 15px;
        width: 270px;
        height: 500px;
        margin-bottom: 10px;
        justify-content: center;
    }
}